:root {
  /* Main colors */
  --link: rgb(114, 160, 114);
  --link-highlight: rgb(159, 218, 159);
  --background: rgb(37, 25, 43);
  --nav-bar: rgb(50, 36, 73);
  --nav-bar-highlight: rgb(72, 52, 104);
  --main-text: rgb(204, 197, 206);
  --secondary-text: rgba(244, 215, 253, 0.945);
  --tertiary-text: rgba(255, 200, 157, 0.733);
}

/* General component styling */
body {
  background-color: var(--background);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(207, 121, 196);
}

h2 {
  letter-spacing: 0.2rem;
  color:var(--secondary-text);
}

h3 {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color:var(--secondary-text);
}

h4 {
  color: var(--tertiary-text);
  font-weight: lighter;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-highlight);
}

p, label.text, table {
  font-size: 1.1rem;
  color:var(--main-text);
}

main {
  padding: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

footer {
  font-size: 0.75rem;
  color: rgb(75, 75, 75);
  position: relative;
  bottom: 0;
}

/* Main menu / navigation styling */
header {
  margin: -0.5rem;
  padding-bottom: 0.5rem;
}

nav {
  background-color: var(--nav-bar);
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.mainMenu {
  list-style-type: none;
  overflow: hidden;
  padding: 1rem;
  padding-left: 0rem;
  margin: 0;
  align-items: center;
}

.mainMenuItem {
  display: inline;
}

.mainMenuItem a {
  font-size: 1rem;
  padding: 1.5rem;
}

.mainMenuItem a:hover {
  background-color:var(--nav-bar-highlight);
  color: var(--link-highlight);
}

/* Media styling */
audio {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 60%;
}

iframe {
  border: 1rem solid var(--nav-bar);
  display: block;
  margin: auto;
  width: 80%;
}

.gallery {
  width: 33%;
}

#village-symphony-video {
  width: 600px;
  height: 338px;
}

#about-image, #home-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#resume {
  width: 54rem;
  height: 72rem;
}

/* Contact page styling */
#contactPage {
  display: flex;
}

#contactPageText {
  padding-right: 2rem;
}

#contactFormDiv {
  margin-left: auto;
  text-align: center;
  background-color:rgb(27, 65, 48);
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

#submissionMessage {
  display: none;
}

#contactForm {
  display: inline-block;
  text-align: right;
}

#submitFormButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: rgb(128, 75, 139);
  border: none;
}

#submitFormButton:hover {
  background-color: rgb(162, 93, 175);
}

#submitFormButton:active {
  background-color: rgb(207, 121, 224);
}

#contactFormErrorMessage {
  color: rgb(245, 78, 78);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Adjustments for small screen sizes */
@media (max-width: 500px) {

  /* Allow menu items to stack */
  .mainMenuItem {
    display: flex;
  }

  /* Increase some text size */
  .mainMenuItem a, p {
    font-size: 1.3rem;
  }

  /* Allow most media to essentially fill the smaller screen */
  img, .gallery, #village-symphony-video, #about-image, #home-image {
    width: 92%;
  }

}